<%= link_to "Items", '/items' %>
<%= link_to "Merchants", '/merchants' %>

<h1>All Items List</h1>

<% @items.each do |item| %>
  <h2> <%= link_to item.name, "/items/#{item.id}"%></h2>
  <ul><%= item.description %></ul>
  <ul><%= item.price %></ul>
  <ul><%= item.inventory %></ul>
  <ul><%= item.active_inactive %></ul>
  <img src= <%= item.image %>>
<% end %>

<%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %>
